{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block extra_css %}
<style>

</style>
{% endblock extra_css %}

{% block content %}
<div class="py-5">
    <div class="custom-container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6">
                <div class="login-container shadow p-4">
                    <div class="login-text mb-4 text-center">
                        <h3 style="letter-spacing: 0px; font-size: 20px;">Check Your Email 📩</h3>
                        <p style="color: #000000; font-weight: 400;">Enter your email to receive a password reset link.</p>
                        <p style="color: #000000; font-weight: 400;">We’ve sent you instructions to reset your password. If an account with that email exists, you'll receive a reset link shortly.</p>
                        <p style="color: #000000; font-weight: 400;">If you don’t see the email, please check your spam folder.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
