{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset Confirm{% endblock title %}
{% block extra_css %}
<style>

</style>
{% endblock extra_css %}

{% block content %}
<div class="py-5">
    <div class="custom-container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6">
                <div class="login-container shadow p-4">
                    <div class="login-text mb-4 text-center">
                        <h3 style="font-size: 20px;">Set a new password</h3>
                    </div>

                    <!-- Show error messages in a user-friendly way -->
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="new_password1" class="form-label">New Password:</label>
                            <input required type="password" name="new_password1" class="form-control" id="new_password1" placeholder="Enter new password">
                        </div>
                        <div class="mb-3">
                            <label for="new_password2" class="form-label">Confirm Password:</label>
                            <input required type="password" name="new_password2" class="form-control" id="new_password2" placeholder="Confirm new password">
                        </div>
                        <button type="submit" class="login-button mt-3">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}