{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block extra_css %}
<style>

</style>
{% endblock extra_css %}

{% block content %}
<div class="py-5">
    <div class="custom-container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6">
                <div class="login-container shadow p-4">
                    <div class="login-text mb-4 text-center">
                        <h3>Reset Your Password</h3>
                        <p>Enter your email to receive a password reset link.</p>
                    </div>
                    <form method="POST" action="{% url 'user:password_reset' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input required type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
                            
                            {% if form.email.errors %}
                            <div class="text-danger mt-1">
                                {% for error in form.email.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="login-button mt-3">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

