{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block extra_css %}
<style>

</style>
{% endblock extra_css %}

{% block content %}
<div class="py-5">
    <div class="custom-container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6">
                <div class="login-container shadow p-4">
                    <div class="login-text mb-4 text-center">
                        <p style="color: #000000; font-weight: 400;">Your password has been successfully reset. You can now <a href="{% url 'user:login' %}">login here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
